<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <title>Todo App</title>
</head>
<body>
    <div class="row">
        <div class="col">
            <h1 class="text-center"> Todo App </h1>
        </div>
    </div>

    <!--<form class="row" action="" method="post">-->
    <div class="col col-md-8 offset-md-2" >
        <form action="/api/todo" method="post">
            <div class="form-group">
                <input name="title" type="text" placeholder="New Task" class="form-control">
            </div>
            <div class="form-group">
                <input name="description" type="text" placeholder="Description" class="form-control">
            </div>
                <button type="submit" class="btn btn-primary"> ADD</button>
            
        </form>
    </div>
    <br>

    <div class="row">
        <div class="col col-md-8 offset-md-2">
            <table class="table table-stripped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" >Task</th>
                        <th scope="col">Desc</th>
                        <th scope="col" class="col-sm-2">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in listado %}
                    <tr>
                        <td> {{ item["title"] }} </td>
                        <td> {{ item["description"] }} </td>
                        <td class="text-center"> <a href="/api/todo/delete/{{ item['title'] }}"> <button class="btn btn-danger" type="button"> Delete</button> </a> </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
</body>
</html>